<div class="row pb-2 ml-0" *ngIf="searchColumn">
  <div class="col-3 canFilter">
    <label for="searchId" class="form-label"
      >Search for {{ searchColumn }}:</label
    >
  </div>
  <div class="col-6">
    <input
      class="form-control"
      type="text"
      name="searchTerm"
      [(ngModel)]="searchConfig.searchTerm"
      (change)="changeTerm($event)"
    />
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th
        *ngFor="let columnDef of _headers"
        [ngClass]="columnDef.thClass"
        sortable="{{ columnDef.key }}"
        direction=""
        (sort)="onSort($event)"
      >
        {{ columnDef.label }}
      </th>
      <th *ngIf="canDelete">#</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of items; let i = index">
      <td>{{ i + 1 }}</td>

      <td
        *ngFor="let columnDef of _headers"
        [ngClass]="row.tdClass ? row.tdClass : columnDef.tdClass"
      >
        <ng-container *ngIf="!rowTemplate">
          <span>{{ row[columnDef.key] | dataTableFormat: columnDef }}</span>

          <!--span *ngIf="columnDef.dataType === 'string'">{{
            row[columnDef.key] | dataTableFormat: columnDef
          }}</span>
          <span *ngIf="columnDef.dataType === 'date'">{{
            row[columnDef.key] | date: "mediumDate":"+0200":"ro-RO"
          }}</span>
          <span *ngIf="columnDef.dataType === 'number'">{{
            row[columnDef.key] | number
          }}</span -->
        </ng-container>
        <ng-container *ngIf="rowTemplate">
          <ng-template
            [ngTemplateOutlet]="rowTemplate"
            [ngTemplateOutletContext]="{
              row: row,
              columnDefinition: columnDef
            }"
          >
          </ng-template>
        </ng-container>
      </td>
      <td *ngIf="canDelete" [ngClass]="row.tdClass ? row.tdClass : row.thClass">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="deleteRow(row)"
        >
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="total!"
    [(page)]="searchConfig.page"
    [pageSize]="searchConfig.pageSize"
    (pageChange)="getNextPage()"
  >
  </ngb-pagination>

  <select
    class="custom-select"
    style="width: auto"
    name="pageSize"
    [(ngModel)]="searchConfig.pageSize"
    (change)="changeSize($event)"
  >
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
</div>
