<main>
  <section class="container-fluid px-4">
    <!-- sports-resort-header></sports-resort-header -->

    <div class="row gx-3">
      <div class="col-12 d-flex flex-column">
        <h1 class="align-self-stretch text-center theme-dark pt-3 pb-3">
          Sports Resort Amenities
        </h1>
      </div>
    </div>

    <div class="row d-flex gx-3">
      <!-- first title new col-2 -->
      <div
        class="
          col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2
          d-flex
          align-items-stretch
        "
      >
        <div class="theme-light pt-3">
          <h2>First title</h2>
          <p class="theme-light">
            Tfgurehgdf jfberg kdgjhurig kfeurinj kfnre jdnjg kjgnreng slfdns
            ldfgl hgruhtg knirht kfnhrt fkhkjtnh khnjrtb kfgnhg kdfe dkf kdgkr
            kgj kjflwkef dkjfghj kfdngjfg nvvj dkg krgnjrtngtrj dkgnkgnj
            kgnrktbg jhbfgev gjrtbg jbghrbg jgbhtg kgrbg rkhghevf khntrjh kgbhtr
            kgnejrbg krthrtkj jfgbeurig krgbrjgb krgjreg kjgnrjg kgrjg kfgnjtg
            kgjtg kghrtjhbn kfgj.
          </p>
        </div>
      </div>

      <!-- second title new col-2 -->
      <div
        class="
          col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2
          d-flex
          align-items-stretch
        "
      >
        <article class="theme-light pt-3">
          <h2>Second title</h2>
          <p class="theme-light">
            Afhur weqwr wefwrefw wrwerfw grgr erewt ukky yujyj ygjtyjyj tyjtyjy
            tyjtyjt tyjtyj ytjyj retert retrt etetre yjtyjty rger yjyju rgerfwe
            tjytjt ergerg tjty fesf rthrthrt wefefr trhrtjg gejrgb rgjejrgb
            grjejrgb jhgreuhg weyfqw dqwdq fwqfq wdwqfew wefwewe wefqwf wwefwe
            wefwefe dqwedqw wefwewe qwdqwd wqdqwf qwdqwd wqdqwd wqdqwdq qwdqwd
            qwdqwqw qwdqwqw.
          </p>
        </article>
      </div>

      <!-- col-4 -->
      <div
        class="
          col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4
          d-flex
          align-items-stretch
        "
      >
        <div
          class="
            row
            flex-grow-1
            d-flex
            flex-row
            theme-light
            pt-3
            pl-2
            pr-2
            ml-0
            mr-0
          "
        >
          <div
            class="
              col-12
              pl-0
              pr-0
              pb-0
              mb-0
              flex-grow-0
              d-flex
              flex-column
              align-items-between
            "
            style="background-color: white"
          >
            <!--row with 1 column header-->
            <div class="row">
              <div
                class="col-12 ml-0 mr-0 mb-3 rounded-3"
                id="idContainerHeader"
              >
                <div
                  class="h-100 rounded-3 align-self-stretch"
                  style="background-color: gray"
                >
                  <h4 id="idHeaderLabel" style="color: white">
                    {{
                      currentuser?.loggedIn
                        ? "Welcome " + currentuser.sportsmanName
                        : "Header"
                    }}
                  </h4>
                </div>
              </div>
            </div>

            <!--row with 2 columns tomato-->
            <div class="row justify-content-stretch">
              <div
                class="col-xs-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 ml-0 mr-0"
              >
                <div
                  class="pl-2 pr-2 h-100 rounded-3"
                  style="background-color: tomato"
                >
                  <img
                    src="assets/images.jfif"
                    class="img-fluid mt-3"
                    alt="Sports"
                    width="200"
                    height="200"
                  />
                  <h5 style="color: white">Sidebar</h5>
                </div>
              </div>
              <div
                class="
                  col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5
                  rounded-3
                  ml-0
                "
              >
                <div
                  class="pr-2 h-100 rounded-3"
                  style="background-color: tomato"
                >
                  <h5 class="pl-2" style="color: white">
                    Content<br />
                    More description text in here.
                  </h5>
                </div>
              </div>
            </div>

            <!--row with 1 column footer-->
            <div class="row mt-auto mb-0 pb-0">
              <div class="col-12 mt-3 mx-0 rounded-3">
                <div
                  class="rounded-3 h-100 align-self-stretch"
                  style="background-color: gray"
                >
                  <h4 style="color: white">Footer</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 flex-grow-1 pl-0">
            <p>Additional paragraph content</p>
          </div>
        </div>
      </div>
      <!--col4 ended-->

      <!--col4 buttons-->

      <div
        class="
          col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4
          d-flex
          flex-row
          align-items-stretch
        "
      >
        <div class="theme-light">
          <div class="pt-3 theme-light">
            <button
              type="button"
              class="btn btn-secondary mr-3 mb-3"
              *ngIf="!currentuser?.loggedIn"
              (click)="openLogin()"
              id="btnLogin"
            >
              Login
            </button>
            <button
              type="button"
              class="btn btn-secondary mr-3 mb-3"
              id="btnLogout"
              *ngIf="currentuser?.loggedIn"
              (click)="onLogout()"
            >
              Logout
            </button>
            <button
              type="button"
              class="btn btn-secondary mr-3 mb-3"
              *ngIf="!currentuser?.loggedIn"
              (click)="openSignUp()"
              id="btnSignUp"
            >
              Sign up
            </button>
            <button
              type="button"
              class="btn btn-secondary mr-3 mb-3"
              *ngIf="currentuser?.loggedIn"
              (click)="openCard()"
              id="btnSportsCard"
            >
              Sports card
            </button>
            <button
              type="button"
              class="btn btn-secondary mr-3 mb-3"
              (click)="openRanking()"
            >
              Ranking
            </button>
          </div>
          <div class="theme-light">
            <p>
              Tacos actually microdosing, pour-over semiotics banjo chicharrones
              retro fanny pack portland everyday carry vinyl typewriter. Tacos
              PBR&B pork belly, everyday carry ennui pickled sriracha normcore
              hashtag polaroid single-origin coffee cold-pressed. PBR&B tattooed
              trust fund twee, leggings salvia iPhone photo booth health goth
              gastropub hammock.
            </p>
          </div>
          <div class="theme-light">
            <p>
              Cray food truck brunch, XOXO +1 keffiyeh pickled chambray
              waistcoat ennui. Organic small batch paleo 8-bit. Intelligentsia
              umami wayfarers pickled, asymmetrical kombucha letterpress kitsch
              leggings cold-pressed squid chartreuse put a bird on it. Listicle
              pickled man bun cornhole heirloom art party.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
