<form
  (ngSubmit)="handleSubmit(form.value, form.valid)"
  #form="ngForm"
  novalidate
  class="container px-4"
  id="idFormPersonalData"
>
  <div class="row mt-2 justify-content-center">
    <!---->
    <!-- div class="col-xs-12 col-sm-12 col-md-9 col-lg-7 col-xl-7">
      <div class="row d-flex">
        <div class="col-12 d-flex flex-column mt-2 px-0">
          <sports-resort-header></sports-resort-header>
        </div>
      </div>
    </div -->

    <!---->
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-7 col-xl-7">
      <div class="row justify-content-center">
        <div class="col-12 pl-0 pr-0">
          <h1 class="text-center align-self-stretch theme-dark pt-3 pb-3 mb-0">
            Personal Data
          </h1>
        </div>
      </div>

      <div class="row mt-2 justify-content-center">
        <div
          class="
            form-outline
            col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6
            d-flex
            flex-column
          "
        >
          <!-- fieldset class="personalData" -->
          <div class="row justify-content-center">
            <div class="col-12 flex-column theme-light pt-2 pb-3">
              <div class="form-outline mb-3" id="nameBox">
                <label for="idName" class="form-label"
                  >Name:
                  <abbr title="required" aria-label="required">*</abbr></label
                >
                <input
                  type="text"
                  id="idName"
                  class="form-control"
                  name="userName"
                  #userName="ngModel"
                  [ngModel]="detail?.sportsmanName"
                  autofocus
                  placeholder="Name"
                />
              </div>

              <div class="form-outline mb-2" id="emailBox">
                <label for="idMail" class="form-label">Email:</label>
                <input
                  type="email"
                  class="form-control"
                  name="mail"
                  #mail="ngModel"
                  [ngModel]="detail?.mail"
                  id="idMail"
                  placeholder="name@example.com"
                />
              </div>

              <div class="form-outline mb-2">
                <label for="passId" class="form-label">Password:</label>
                <input
                  type="password"
                  class="form-control"
                  name="pass"
                  #pass="ngModel"
                  [ngModel]="detail?.pass"
                  id="passId"
                />
              </div>

              <div class="form-outline mb-2">
                <label for="retypePassId" class="form-label"
                  >Retype password:</label
                >
                <input type="password" class="form-control" id="retypePassId" />
              </div>

              <div class="form-outline" id="birthBox">
                <label for="idBirthDate" class="form-label">Birth date:</label>
                <input
                  type="date"
                  class="form-control"
                  name="date"
                  #date="ngModel"
                  [ngModel]="detail?.date"
                  id="idBirthDate"
                />
              </div>
            </div>
          </div>
          <!-- /fieldset -->
        </div>
        <div
          class="
            form-outline
            col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6
            d-flex
            flex-column
          "
        >
          <div class="row flex-grow-0 justify-content-center">
            <div class="col-12 flex-column theme-light pt-2">
              <div class="form-outline mb-2" id="locationBox">
                <label for="idLocation" class="form-label">Location:</label>
                <input
                  class="form-control"
                  list="locationOptions"
                  name="location"
                  #location="ngModel"
                  [ngModel]="detail?.location"
                  id="idLocation"
                  placeholder="Type to search..."
                  autofocus
                />
                <datalist id="locationOptions">
                  <option value="Alba"></option>
                  <option value="Cluj"></option>
                  <option value="Brasov"></option>
                  <option value="Timisoara"></option>
                  <option value="Iasi"></option>
                </datalist>
              </div>

              <div class="mb-3 form-check" id="licenceBox">
                <label for="idLicence" class="form-label"
                  >Driver's licence:</label
                >
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="idLicence"
                  checked
                  autofocus
                />
              </div>
            </div>
          </div>
          <div class="row d-flex flex-grow-1 justify-content-center">
            <div class="col-12 d-flex flex-column theme-light pb-3">
              <label for="idMsg" class="form-label flex-grow-0" id="msgLabel"
                >Your message:</label
              >
              <textarea
                class="form-control flex-grow-1 pb-2"
                name="msg"
                #msg="ngModel"
                [ngModel]="detail?.thoughts"
                id="idMsg"
              ></textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-2 justify-content-stretch">
        <div class="col theme-light pt-3 pb-3">
          <div class="form-outline d-flex justify-content-between">
            <button type="submit" class="btn btn-secondary" id="btnSubmit">
              Submit
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              id="btnClose"
              (click)="onClose()"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
