<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <!--content rows-->

      <!--Navbar-->

      <!-- div class="row d-flex">
            <div class="col-12 d-flex flex-column mt-2 px-0">
              <sports-resort-header></sports-resort-header>
            </div>
          </div -->

      <!-- title row-->
      <div class="row justify-content-center mb-2">
        <div class="col-12 pl-0 pr-0">
          <h1 class="text-center align-self-stretch theme-dark pt-3 pb-3 mb-0">
            Ranking
          </h1>
        </div>
      </div>

      <!--Chart-->

      <div class="row theme-light justify-content-center">
        <div class="col-12 pt-3">
          <canvas
            baseChart
            style="width: 100%; max-width: 600px; max-height: 400px"
            [datasets]="sportChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [type]="'bar'"
          >
          </canvas>
        </div>
        <div class="col-12 pt-3">
          <app-dynamic-table
            [headers]="columnDefinitions"
            [items]="tableUsers.users"
            [rowTemplate]="rowTemplate"
            [total]="tableUsers.total"
            [searchColumn]="searchColumn"
            (newSearch)="onChangePage($event)"
          ></app-dynamic-table>

          <ng-template
            #rowTemplate
            let-row="row"
            let-columnDefinition="columnDefinition"
          >
            <div [class]="'rank-' + row.rank">
              <span
                >{{
                  row[columnDefinition.key] | dataTableFormat: columnDefinition
                }}
                <!--img
                  *ngIf="columnDefinition.key === 'rank' && row.rank === 1"
                  src="https://www.pngall.com/wp-content/uploads/4/Golden-Cup.png"
                  width="30"
                / -->
                <span
                  *ngIf="columnDefinition.key === 'rank' && row.rank === 1"
                  class="ml-3"
                >
                  <fa-icon [icon]="trophyIcon" class="gold-trophy"></fa-icon>
                </span>
                <!--img
                  *ngIf="columnDefinition.key === 'rank' && row.rank === 2"
                  src="https://gallery.yopriceville.com/var/albums/Free-Clipart-Pictures/Trophy-and-Medals-PNG/Silver_Cup_Trophy_PNG_Clip_Art_Image.png?m=1533598881"
                  width="30"
                / -->
                <span
                  *ngIf="columnDefinition.key === 'rank' && row.rank === 2"
                  class="ml-3"
                >
                  <fa-icon [icon]="trophyIcon" class="silver-trophy"></fa-icon>
                </span>
                <!-- img
                  *ngIf="columnDefinition.key === 'rank' && row.rank === 3"
                  src="https://gallery.yopriceville.com/var/albums/Free-Clipart-Pictures/Trophy-and-Medals-PNG/Bronze_Trophy_Cup_Award_Transparent_PNG_Clip_Art_Image.png?m=1457063701"
                  width="30"
                / -->
                <span
                  *ngIf="columnDefinition.key === 'rank' && row.rank === 3"
                  class="ml-3"
                >
                  <fa-icon [icon]="trophyIcon" class="bronze-trophy"></fa-icon>
                </span>
              </span>
            </div>
          </ng-template>
        </div>
      </div>

      <!--Button-->

      <div class="row theme-light mt-2">
        <div class="col-12 d-flex justify-content-center pt-3 pb-3">
          <button type="button" class="btn btn-secondary" (click)="onClose()">
            Back
          </button>
        </div>
      </div>

      <!---->
    </div>
  </div>
</div>
