.color-col {
  background-color: blueviolet;
}

.canFilter {
  background-color: greenyellow !important;
}

.color-red {
  background-color: red;
}

.color-yellow {
  background-color: yellow;
}

.color-bronze {
  background-color: bisque;
}

.rank-1 {
  color: red;
  text-shadow: 2px 2px 10px blueviolet;
}

.rank-2 {
  color: yellow;
  text-shadow: 2px 2px 10px blueviolet;
}

.rank-3 {
  color: bisque;
  text-shadow: 2px 2px 10px blueviolet;
}

.gold-trophy {
  font-size: 25px;
  color: yellow;
  filter: drop-shadow(2px 2px 10px blueviolet);
}

.silver-trophy {
  font-size: 25px;
  color: lightgrey;
  filter: drop-shadow(2px 2px 10px blueviolet);
}

.bronze-trophy {
  font-size: 25px;
  color: bisque;
  filter: drop-shadow(2px 2px 10px blueviolet);
}
