<div class="container-fluid px-4">
  <!--offcanvas-->
  <div class="row mt-2 justify-content-center">
    <div
      class="col-xs-12 col-sm-12 col-md-9 col-lg-7 col-xl-7 pl-0 pr-0 mb-0 theme-light"
    >
      <div
        [ngClass]="{
          'pl-3': true,
          'pr-3': true,
          offcanvas: true,
          'offcanvas-visible': offCanvasActive == true,
          'offcanvas-invisible': offCanvasActive == false
        }"
      >
        <div class="row d-flex pt-2">
          <div class="col form-outline mb-2">
            <div>
              <label for="idFilterOptions" class="form-label">Location:</label>
              <input
                class="form-control"
                list="filterOptions"
                #filterOptions
                id="idFilterOptions"
                (input)="search(filterOptions.value)"
                placeholder="Type to search..."
                autofocus
              />
            </div>
            <datalist id="filterOptions">
              <option value="text1"></option>
              <option value="text2"></option>
              <option value="text3"></option>
            </datalist>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end offcanvas-->
  <div class="row mt-0 justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-7 col-xl-7">
      <div class="row mt-2">
        <div class="col-12 pl-0 pr-0">
          <h1 class="text-center align-self-stretch theme-dark pt-3 pb-3 mb-0">
            Gallery
          </h1>
        </div>
      </div>

      <div class="row mt-2 theme-light pt-3 pb-3">
        <div class="col" *ngFor="let item of galleryItems$ | async">
          <div
            class="pl-2 pr-2 h-100 rounded-3"
            style="background-color: lavender"
          >
            <img
              src="{{ item.image }}"
              class="img-fluid mt-3"
              alt="Sports"
              width="200"
              height="200"
            />
            <h5 style="color: black">{{ item.description }}</h5>
          </div>
        </div>
      </div>

      <!--Button-->

      <div class="row theme-light mt-2">
        <div class="col-12 d-flex justify-content-center pt-3 pb-3">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="toggleOffCanvas()"
          >
            {{ offCanvasActive ? "Close filter" : "Open filter" }}
          </button>
        </div>
      </div>
    </div>

    <!---->

    <!---->
  </div>
</div>
