<main>
  <section class="container-fluid px-4">
    <div class="row">
      <div class="col-12 ps-0 pe-0">
        <h1 class="text-center align-self-stretch theme-dark pt-3 pb-3 mb-0">
          Sports Card
        </h1>
      </div>
    </div>

    <div class="row mt-2 mb-2">
      <div class="col-12 d-flex flex-column ps-0 pe-0 mb-0">
        <table
          class="table table-bordered table-hover mb-0"
          id="idActivityTable"
        >
          <thead>
            <tr>
              <th colspan="5" class="table-secondary" id="idUser">
                {{
                  currentUser
                    ? "Welcome " + currentUser?.sportsmanName
                    : "Description"
                }}
              </th>
            </tr>
            <tr class="d-flex flex-column flex-md-row flex-lg-row flex-xl-row">
              <td colspan="4" class="table-success flex-grow-1">
                <table class="table table-borderless table-success">
                  <tr
                    class="d-flex flex-column flex-md-row flex-lg-row flex-xl-row"
                  >
                    <td>E-mail:</td>
                    <td id="idMail">{{ currentUser?.mail }}</td>
                  </tr>
                  <tr
                    class="d-flex flex-column flex-md-row flex-lg-row flex-xl-row"
                  >
                    <td>Location:</td>
                    <td id="idLocation">{{ currentUser?.location }}</td>
                  </tr>
                </table>
              </td>
              <td colspan="1" class="table-success">
                <table class="table align-middle table-borderless">
                  <tr>
                    <td
                      class="align-items-left justify-content-center ps-0 pe-0"
                    >
                      <button
                        type="button"
                        class="btn btn-secondary"
                        (click)="addActivity()"
                      >
                        Add activity
                      </button>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </thead>

          <tbody id="idActivityTableBody">
            <app-dynamic-table
              [items]="tableData.data"
              [headers]="tableData.headers"
              [total]="tableData.total"
              [canDelete]="canDelete"
              [searchColumn]="searchColumn"
              (newSearch)="onChangePage($event)"
              (deleteItem)="onDeleteData($event)"
            ></app-dynamic-table>
          </tbody>

          <tfoot>
            <tr>
              <th
                colspan="5"
                class="table-secondary table-bordered table-success"
              >
                Message:
              </th>
            </tr>
            <tr>
              <td
                colspan="5"
                class="table-secondary table-bordered"
                id="idMessage"
              >
                {{ currentUser?.thoughts }}
              </td>
            </tr>
          </tfoot>
        </table>

        <!-- app-table [rows]="detail.sports"></app-table -->
      </div>
    </div>

    <!--Button-->

    <div class="row theme-light mt-0 ml-0 mr-0">
      <div class="col-12 d-flex justify-content-center pt-3 pb-3">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="onClose()"
          id="btnBack"
        >
          Back
        </button>
      </div>
    </div>
  </section>
</main>

<!-- sports-table
  [detail]="currentUser"
  (deleteActivity)="onDeleteData($event)"
></sports-table -->
