ngb-carousel .wrapper {
  position: relative;
  height: 0;
  padding-top: 55%; /* Keep ratio for 900x500 images */
}

ngb-carousel .wrapper > img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.carousel-control-prev-icon {
  color: black;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

.sr-only {
  text-shadow: none;
  outline: none;
  box-shadow: none;
  display: none;
}
