<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <!--NavBar-->

      <!-- div class="row d-flex">
        <div class="col-12 d-flex flex-column mt-2 px-0">
          <sports-resort-header></sports-resort-header>
        </div>
      </div -->

      <!---->
      <!-- row title -->
      <div class="row justify-content-center mb-2">
        <div class="col-12 pl-0 pr-0">
          <h1 class="text-center align-self-stretch theme-dark pt-3 pb-3 mb-0">
            New activity
          </h1>
        </div>
      </div>

      <!-- row carousel -->
      <div class="row pt-3 pb-3 theme-light">
        <div class="col-12">
          <!-- Carousel -->
          <ngb-carousel
            #sportCarousel
            [showNavigationIndicators]="true"
            [interval]="-1"
            (slide)="onSlide($event)"
            *ngIf="images"
          >
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper text-center">
                <img [src]="images[0].image" alt="Random first slide" />
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper text-center">
                <img [src]="images[1].image" alt="Random second slide" />
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper text-center">
                <img [src]="images[2].image" alt="Random third slide" />
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>

      <!-- end carousel-->

      <!-- row data -->
      <div
        class="
          row
          pb-3
          theme-light
          d-flex
          flex-column flex-md-row flex-lg-row flex-xl-row
        "
      >
        <div class="col-6">
          <div class="pt-3">
            <label for="idActivityDate">Date: </label>
            <input
              type="date"
              name="activityDate"
              #activityDate
              [value]="currentActivity?.date"
              (input)="onDateChange(activityDate.value)"
            />
          </div>
        </div>

        <div class="col-6">
          <div class="pt-3">
            <label for="idValue" id="idValueLabel">{{
              currentActivity.sport
            }}</label>
            <input
              type="number"
              id="idValue"
              min="0"
              max="100"
              step="1"
              placeholder="0"
              #activityValue
              [value]="currentActivity?.value"
              (input)="onValueChange(activityValue.value)"
            />
            <label for="idValue" style="float: right">km</label>
          </div>
        </div>
      </div>

      <!--Buttons-->
      <div class="row mt-2 justify-content-stretch">
        <div class="col theme-light pt-3 pb-3">
          <div class="form-outline d-flex justify-content-between">
            <button
              type="submit"
              class="btn btn-secondary"
              (click)="addActivity()"
            >
              Save
            </button>
            <button type="button" class="btn btn-secondary" (click)="onClose()">
              Close
            </button>
          </div>
        </div>
      </div>
      <!---->
    </div>
  </div>
</div>
