<div class="container-fluid px-4">
  <div class="row mt-2 justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-7 col-xl-7">
      <div class="row mt-2">
        <div class="col-12 pl-0 pr-0">
          <h1 class="text-center align-self-stretch theme-dark pt-3 pb-3 mb-0">
            Our Team
          </h1>
        </div>
      </div>

      <div class="row mt-2 justify-content-center theme-light pt-3 pb-3">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="container">
            <div class="row text-center">
              <div
                class="col-md-4 card-container"
                *ngFor="let member of teamMembers"
              >
                <div class="card card-flip">
                  <!--front -->
                  <div class="front card-block">
                    <img
                      class="card-img-top"
                      src="{{ member.image }}"
                      alt="Card image"
                    />
                    <h4 class="card-title pt-3">{{ member.name }}</h4>
                    <h6 class="card-subtitle text-muted">{{ member.title }}</h6>
                    <p class="card-text pb-3">{{ member.department }}</p>
                  </div>
                  <!--end front -->

                  <!--back-->
                  <div class="back card-block theme-dark">
                    <h4 class="font-weight-bold mb-2 mt-3">About me</h4>
                    <p class="pl-2 pr-2 pb-2">
                      {{ member.about }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <app-dynamic-table
            [items]="tableData.data"
            [headers]="columnDefinitions"
            [rowTemplate]="rowTeamTemplate"
            [searchColumn]="searchColumn"
            [total]="tableData.total"
            [canDelete]="false"
            (newSearch)="onChangePage($event)"
          ></app-dynamic-table>

          <ng-template
            #rowTeamTemplate
            let-row="row"
            let-columnDefinition="columnDefinition"
          >
            <div>
              <span
                >{{ row[columnDefinition.key] }}
                <span *ngIf="columnDefinition.key === 'name'">
                  <img class="rounded-img" src="{{ row.image }}" width="50" />
                </span>
              </span>
            </div>
          </ng-template>
        </div>
      </div>
    </div>

    <!---->

    <!---->
  </div>
</div>
