<!-- nav>
  <a routerLink="/sportsresort"></a>
</nav -->
<sports-resort-header></sports-resort-header>

<router-outlet></router-outlet>

<!-- div>
  <button type="button" class="btn btn-secondary" (click)="showSuccess()">
    Test toastr
  </button>
</div -->
