h2 {
  color: black;
  background-color: lavender;
}

p {
  color: black;
}

.theme-light {
  color: black;
  background-color: lavender;
}

.theme-dark {
  color: white;
  background-color: purple;
}

.btn:hover {
  font-weight: bold;
}

.nav-link {
  color: white;
}
.nav-link:hover {
  font-weight: bold;
}
.navbar-toggler-icon {
  stroke: white;
  color: white;
  background-color: purple;
}
