<form
  (ngSubmit)="handleSubmit(form.value, form.valid)"
  #form="ngForm"
  novalidate
  class="container-fluid px-4"
  id="registrationForm"
>
  <div class="row mt-2 justify-content-center">
    <!---->
    <!-- div class="col-xs-12 col-sm-12 col-md-9 col-lg-7 col-xl-7">
          <div class="row d-flex">
            <div class="col-12 d-flex flex-column mt-2 px-0">
              <sports-resort-header></sports-resort-header>
            </div>
          </div>
        </div -->

    <!---->

    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-7 col-xl-7">
      <div class="row">
        <div class="col-12 pl-0 pr-0">
          <h1 class="text-center align-self-stretch theme-dark pt-3 pb-3 mb-0">
            Login with us
          </h1>
        </div>
      </div>

      <div class="row mt-2 justify-content-center theme-light pt-3 pb-3">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
          <label for="mailId" class="form-label">Email:</label>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
          <input
            type="email"
            class="form-control"
            id="mailId"
            name="mail"
            #mail="ngModel"
            [ngModel]="detail?.mail"
          />
        </div>
      </div>
      <div class="row mt-2 justify-content-center theme-light pt-3 pb-3">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
          <label for="passId" class="form-label">Password:</label>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
          <input
            type="password"
            class="form-control"
            id="passId"
            name="pass"
            #pass="ngModel"
            [ngModel]="detail?.pass"
          />
        </div>
      </div>

      <div class="row mt-2 justify-content-center">
        <div
          class="
            col-12
            d-flex
            flex-column flex-md-row flex-lg-row flex-xl-row
            justify-content-between
            theme-light
            pt-3
            pb-3
          "
        >
          <div class="buttonSubmit">
            <button type="submit" class="btn btn-secondary" id="btnSubmit">
              Submit
            </button>
          </div>
          <div class="buttonSignUp ms-3 me-3">
            <label for="idSignUp" class="form-label">New to us?</label>
            <button
              type="button"
              class="btn btn-secondary"
              id="idSignUp"
              (click)="onSignup()"
            >
              Sign Up
            </button>
          </div>
          <div class="buttonClose">
            <button
              type="button"
              class="btn btn-secondary"
              id="btnClose"
              (click)="onClose()"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
