<!--navbar-->

<div class="row d-flex gx-3">
  <div class="col-12 d-flex flex-column mb-2 mt-2">
    <nav class="navbar navbar-expand-sm navbar-dark theme-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="assets/logo.jfif"
            class="rounded-circle"
            alt="logo"
            width="30"
            height="24"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavbar"
          (click)="isMenuCollapsed = !isMenuCollapsed"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          [ngbCollapse]="isMenuCollapsed"
          class="collapse navbar-collapse"
          id="collapsibleNavbar"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/sportsresort">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/aboutus">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/gallery">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/team">Our Team</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<!-- end navbar -->
