<div class="container-fluid px-4">
  <div class="row mt-2 justify-content-center">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-7 col-xl-7">
      <!-- div class="row mt-2">
        <div class="col-12 ps-0 pe-0">
          <sports-resort-header></sports-resort-header>
        </div>
      </div -->

      <div class="row mt-2">
        <div class="col-12 pl-0 pr-0">
          <h1 class="text-center align-self-stretch theme-dark pt-3 pb-3 mb-0">
            About Us
          </h1>
        </div>
      </div>

      <div class="row mt-2 justify-content-center theme-light pt-3 pb-3">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <p class="theme-light">
            Afhur weqwr wefwrefw wrwerfw grgr erewt ukky yujyj ygjtyjyj tyjtyjy
            tyjtyjt tyjtyj ytjyj retert retrt etetre yjtyjty rger yjyju rgerfwe
            tjytjt ergerg tjty fesf rthrthrt wefefr trhrtjg gejrgb rgjejrgb
            grjejrgb jhgreuhg weyfqw dqwdq fwqfq wdwqfew wefwewe wefqwf wwefwe
            wefwefe dqwedqw wefwewe qwdqwd wqdqwf qwdqwd wqdqwd wqdqwdq qwdqwd
            qwdqwqw qwdqwqw.
          </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <img
            class="grow-img"
            src="assets/building.jfif"
            alt="Building"
            id="idBuilding"
          />
        </div>
      </div>
    </div>

    <!---->

    <!---->
  </div>
</div>
